body {
    background-color: lightgreen;
}


header {
    background-color: #E34834;
    text-align: center;
    padding: 100px;
    font-size: 30px;
}


content{ 
    display: flex;
    background-color: lightgreen;
}

footer {
    background-color: #E3C734;
    text-align: center;
    padding: 50px;
    
}

nav {
    width: 20px;
    color: black;
    text-align: right;
    float: left;
    padding: 25px;
    background-color: #FAA646;
}

article {
    width: 60px;
    color: black;
    text-align: left;
    float: right;
    padding: 60px 400px;
    background-color:#BCFA6F;
   
}