body {

    background-color: lightgreen;
  
}


header {
    background-color: #E34834;
    text-align: center;
    padding: 100px;
    font-size: 30px;
}


column{ 
    display: flex;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#E3C734;
    text-align: center;
  
  
}        
nav {
    padding: 25px;
    background-color: #FAA646;
    width: 15vw;
    color: black;
    text-align: right;
}

article{
    width: 60vw;
    color: black;
    text-align: left;
    padding: 40px;
    background-color: #BCFA6F;
}






