@{
    ViewData["Title"] = "Home Page";
}
<form> 
    Naam: <input type= "text" name= "name" />
    Email: <input type = "text" name = "email" />
    Telefoonnummer: <input type = "text" name= "phone" />
    Vragen: <input type= "text" name= "your question" />
    <input type= "submit" value = "opslaan" />
</form>