@model gardenzilla.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<form method = "post"> 
    Voornaam: <input type= "text" name= "firstname" /> <br />
    Achternaam: <input type= "text" name= "lastname" /> <br />
    
    <input type= "submit" value = "verstuur" />
</form>