@{
    ViewData["Title"] = "Festivals";
}
<h1>Festivals</h1>
<div class="festivals">
    <img src=" images/solar.jpg" />
    <img src="images/boulderchick.jpg" />
    <img src="images/gwn.jpg" />
    <img src="images/yuh.jpg" />
    <p>Verhaal van de festivals</p>
</div>

