@{
    ViewData["Title"] = "Gallerij";
}
<h1>Gallerij</h1>
<p>Verhaal van de gallerij</p>

<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  
  <title>Image Gallery</title>
  <meta name="description" content="Responsive Image Gallery">
  <meta name="author" content="Tim Wells">
  
  <style type="text/css">
  </style>
</head>
<body>
<div class="gallery">
  
   <img src="images/boulderchick.jpg">
   <img src="images/gwn.jpg">
   <img src="images/solar.jpg">
   <img src="images/yuh.jpg">
   <img src="images/jongetje.jpg">
   <img src="images/meisje3.jpg">
   <img src="images/.jpg">
   <img src="images/sillyboy.jpg">
   <img src="images/terreintje.jpg">
   <img src="images/halloween.jpg">
   <img src="images/pink.jpg">
   <img src="images/couple.jpg">
   <img src="images/coachella.jpg">
   <img src="images/country.jpg">
   <img src="images/bier.jpg">

  </div>
 
 </body>
</html>