@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="site.css">
</head>
<header>
    header
</header>
<div class="content">
    <nav> navigatie</nav>
    <article> article</article>
</div>
<footer> footer</footer>

</html>