@model List<Product>
@using gardenzilla.Database
@{
    ViewData["Title"] = "Home";
}
<article>
 <div class= "homepage">
    <img src= "homepagejpg/plaatjehomepagewebsite.jpg" />
 </div>
</article>


<form method="get" action="http://www.google.com/search" target="_blank">
<input type="hidden" name="ie" value="UTF-8" />
<input type="hidden" name="oe" value="UTF-8" />
<table bgcolor="#FFFFFF">
<tr><td>
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_40wht.gif" alt="Google" /></a></td>
<td><input type="text" name="q" size="31" maxlength="255" value="" />
<input type="submit" name="btnG" value="Zoeken" />
<font size="-1">
<input type="hidden" name="domains" value="http://www.gardenzilla.Database.nl" />
<br /><input type="radio" name="sitesearch" value="" /> WWW <input type="radio" name="sitesearch" value="http://www.gardenzilla.Database.nl" checked="checked" />gardenzilla.Database.nl<br />
</font>
</td></tr>
</table>
</form>


<div class='text-center'>
    <h1 class="display-4">Alle producten</h1>

<div class="products">

  @foreach (Product product in Model)
  {
    <a href="/product/@product.Id">@product.Naam</a>
  }

    
</div>