@{
    ViewData["Title"] = "Terrein";
}

language = "html"
<!DOCTYPE html>
<html>
<head>
  
<title>Terrein</title>
 <link href="site.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
<h1>Terrein</h1>
<p>Verhaal van het Terrein</p>

</body>
</html>
