@{
    ViewData["Title"] = "Terrein";
}

<!DOCTYPE html>
<html>
<head>
  
<title>Terrein</title>
 <link href="site.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
<h2>algemene regels:</h2>
<p>-Corornatoegangsbewijs met vaccinatiebewijs, en indentificatiebwijs is verplicht.</p>
<p>-Bij de ingang worden de kaartjes gecontroleerd.</p>
<p>-Dragen van wapens en/of ongewenste,gevaarlijke wapens is ten strengste verboden. Wanneer het bekend wordt dat u dit toch doet risceert u een minimale straf van een boete van 200 euro.
</p>
<p>-Aan bezoekers jonger dan 18 jaar worden geen alcoholische dranken verkocht.</p>
<p> Bezoekers van 18 jaar en ouder krijgen een andere kleur polsbandje, door het laten zien van dit bandje kunnen zij wel alcoholische dranken krijgen.</p>
<p> -Bij geweld of agressief gedrag kunt u uw toegang ontzegd worden.</p>
<p>Het gebruik/handelen van drugs is ten strengste verboden.</p>
<h2>vergunningen:</h2>


<h2>informatie terrein</h2>
</body>
</html>
