<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        Gardenzilla
        <img src="logo.jpg"/>
    </header>
    
    <div class="column">
        
        <nav>
            <a class= "homepagina" href="http://localhost:54757/" role="button" </a>
            <button class= "homepagina" >home </button>
            <a class= "festivalspagina" href="http://localhost:54757/festivals" role="button"</a>
            <button class="festivalspagina" >festivals </button>
            <a class="terreinpagina" href="http://localhost:54757/terrein" role="button"</a>
            <button class="terreinpagina" >terrein </button>
            <a class= "gallerijpagina" href="http://localhost:54757/gallerij" role="button"</a>
            <button class="gallerijpagina" >gallerij </button>
            <a class= "contactpagina" href="http://localhost:54757/contact" role="button"</a>
            <button class="contactpagina" >contact </button>
         
        </nav>

        <article>
           
            @RenderBody()
        </article>
    </div>
    <footer> footer</footer>
</body>
</html>