<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        header
    </header>
    <div class="column">
        <nav>
            navigatie Home Contact
        </nav>
        <article>
            @RenderBody()
        </article>
    </div>
    <footer> footer</footer>
</body>
</html>