<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        Gardenzilla
    </header>
    
    <div class="column">
        <nav>
             Home  Festivals Terein Gallerij Contact
        </nav>
        <article>
            @RenderBody()
        </article>
    </div>
    <footer> footer</footer>
</body>
</html>