<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        Gardenzilla
    </header>
    
    <div class="column">
        <nav>
            <a class= "btn btn-primary" href="http://localhost:54757/contact" role="button"</a>
            <button class="btn btn-primary" type= 'contact' >contact </button>
           
        </nav>
        <article>
            @RenderBody()
        </article>
    </div>
    <footer> footer</footer>
</body>
</html>