<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel='shortcut icon' type='image/png' href='images/favicon.jpg.png' />
    <head>
        <style>
            img {
                margin: 0;
                float: left;
                width: 10%;
            }
        </style>
    </head>
    <body>


        <img rel='shortcut icon' type='image/png' href='images/favicon.jpg.png' />

    </body>

</head>

<body>
    <header>

        <img src="images/favicon.jpg.png">
        Gardenzilla
    </header>

    <div class="column">

        <nav>
            <a class="homepagina" href="/" >home</a>
            <a class="festivalspagina" href="/festivals" >festivals</a>
            <a class="terreinpagina" href="/terrein" >terrein</a>
            <a class="gallerijpagina" href="/gallerij" >gallerij</a>
            <a class="contactpagina" href="/contact" >contact</a>
        </nav>


        <article>
            @RenderBody()

        </article>

    </div>
    <footer> footer</footer>
</body>
</html>